.cssmenu ul li{display:inline-block}
.cssmenu{position:relative;float:right;color:#96e8fc}
.cssmenu ul li a{color:#fff;display:inline-block;margin:10px}
.cssmenu li>a:hover{color:#ACEAFA}
.cssmenu ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#6b6b6b;
	padding:0
}

.cssmenu ul ul li
{
	float:none;
	width:200px
}
.cssmenu ul ul li:after
{
    content:none;
}

.cssmenu ul ul a
{
	line-height:120%;
	padding: 20px;
    margin: 0;
    width:100%;
}

.cssmenu ul li:hover > ul
{
	display:block;
    z-index:2;
}

.cssmenu .registerDialog{
    background-color:orange;
}