a:hover *,a:hover{color:cadetblue!important}
#site-wrapper{position:relative;top:-10px;background-color:#f2f2f2}
.icon1 li,.search,.search input[type=submit]:active,.slogan{position:relative}
ol,ul{list-style:none}
.fb_reset,a{text-decoration:none}
*,.btn-empty a{box-sizing:border-box}
a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,mark,menu,nav,nav li,nav ul,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,var,video{margin:0;padding:0;border:0;font-style:inherit;font-variant:inherit;font-weight:inherit;font-stretch:inherit;font-size:inherit;line-height:inherit;font-family:inherit;vertical-align:baseline}
body{font-family:"Exo 2",sans-serif;background:#fff}
a{color:#555}
.header-top{background:#6b6b6b}
.wrap{width:80%;margin:0 auto;transition:all .2s linear}
.header-top-left{width:54.5%;float:left}
.header-top-left h1,nav.horizontal ul li{display:inline-block}
.header-top-left h1{margin:10px 10px 0 0;position:relative}
.header-top-left a{color:#fff;font-weight:700}
ul.breadcrumb {
    padding: 8px 15px;
    margin: 0 0 18px!important;
    list-style: none;
    background-color: #f7f7f7;
    font-size: .85em;
    color: #999!important
}
ul.breadcrumb a {
    color: #4CB1CA
}
ul.breadcrumb a:hover {
    color: #000
}
ul.breadcrumb li {
    display: inline-block
}
.clear,
.clearout,
.collection div:nth-child(3n+2),
.icon1::after,
.section {
    clear: both
}
.header-bottom {
    background: #fff;
    padding: .5% 0
}
.header-bottom-left {
    float: left;
    margin-right: 25px
}
#menu-container {
    background-color: #ddd
}
.logo,
.offers .span_3_of_2 {
    float: left
}
.logo {
    margin-right: 6.6%
}
.slogan {
    padding-left: 15px
}
.logo a {
    font-size: 32px;
    font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #797979
}
.search input[type=text],
p.m_text1 {
    font-size: .85em;
    color: #484646
}
p.m_text2{color:#fff;line-height:1.5em}
p.m_text2 a {color:#bbb}
.slogan {
    top: -8px;
    font-style: italic
}
.fb_reset,
[class*=" icon-"],
[class^=icon-] {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal
}
.header-bottom-right {
    overflow: hidden;
    margin-top: 10px
}
.tag-list,
.float-rt {
    float: right
}
.cont,
.icon1,
.icon1 li,
ul.last {
    float: left
}
ol,
ul {
    margin: 0;
    padding: 0
}
.icon1 {
    zoom: 1
}
.icon1 li:last-child {
    border-right: none
}
.active-icon,
.icon1 ul li {
    display: block
}
.c1,
.c2 {
    width: 42px;
    height: 42px
}
.c1,
.c2,
.sub-icon1 img {
    display: inline-block;
    vertical-align: middle
}
.c2 {
    background: url(/image/cart.png) 0 1px no-repeat
}
ul.last {
    margin: 12px 0 0 20px
}
.header-bottom-right ul.last {
    margin: 12px 0
}
.search-share-icon{position:absolute;bottom:0;right:0;margin:20px}
.search {
    width: 50%;
    margin-top: 7px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    overflow: hidden
}
.search input[type=text] {
    line-height: 2em;
    border: none;
    outline: 0;
    background: 0 0;
    font-family: "Exo 2", sans-serif;
    width: 97%;
    padding: 7px;
    margin: 0;
    transition: all .5s ease-out
}
[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}
.search i {
    right: 10px;
    top: 10px;
    position: absolute;
    color: #999;
    font-size: 1.3em
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
nav.vertical ul li,
section {
    display: block
}
.menu {
    margin-top: 6px
}
.menu>a.showhide {
    position: relative;
    display: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
    color: #555;
    border-bottom: 1px solid rgba(0, 0, 0, .0980392);
    background: linear-gradient(#eee 0, #dbdbdb 100%)
}
.menu>a.showhide span.title {
    margin: 12px 0 0 15px;
    float: left
}
.skyblue li>a,
.skyblue>a.showhide span {
    color: #555
}
#facet-outer,
#pagination-container,
#search-content {
    visibility: hidden;
    display: none
}
#search-content {
    margin-bottom: 20px
}
.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none
}
#filter-btn {
    background-color: #006696;
    margin: 15px 15px 0;
    padding: 7px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    letter-spacing: 5px;
    font-weight: 600
}
.col_1_of_3,
.cont,
.rsidebar {
    display: block
}
.cont {
    margin: 1% 0
}
.span_2_of_3 {
    width: 77.1%
}
.rsidebar {
    float: right;
    margin: 55px 0 1% 2.6%
}
.span_1_of_left {
    width: 20.2%
}
.pagination-container {
    margin-top: 50px;
    padding-bottom: 15px
}
.main {
    margin: .6% 0
}
.sort-by .sortItems,
img {
    max-width: 100%
}
.footer-top {
    background: #404040
}
.social-media li {
    float: left;
    margin: 23px 10px 10px 0;
    display: inline-block
}
.social-media li:first-child {
    margin-top: 0
}
ul.f-list span.f-text {
    float: left;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 23px
}
[data-tooltip] {
    position: relative;
    display: inline-block
}
.social-media li a {
    height: 40px;
    width: 40px;
    display: block
}
.social-media i {
    font-size: 40px;
    color: #fff
}
.footer-middle {
    padding: 2% 0;
    background-color: #6b6b6b
}
.span_1_of_3 {width:31.2%}
.col_1_of_2,
.col_1_of_f_1,
.col_1_of_f_2 {
    display: block;
    float: left
}
.col_1_of_f_1 {
    margin: 1% 0
}
.span_1_of_f_1 {
    width: 48.2%
}
.span_1_of_f_left {
    width: 60%;
}
.span_1_of_f_left > div > div:nth-child(2) {float:right}
.span_1_of_f_right {
    width: 40%;
}
.col_1_of_f_2 {
    margin: 1% 0
}
.span_1_of_f_2 h3,
.span_h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.2
}
.like_box {
    background: #fff;
    display: inline-block
}
.fb_iframe_widget {
    display: inline-block;
    position: relative
}
.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify
}
.fb_iframe_widget iframe {
    position: absolute
}
.span_1_of_f_2 {
    width: 45.2%
}
ul.f-list1 li {
    list-style-image: url(../../image/f-icon.png);
    margin: 0 15px 5px
}
ul.f-list1 li a {
    font-size: .85em;
    color: #fff;
    vertical-align: middle
}
.footer-bottom {
    background: #323638;
    padding: 2% 0
}
.copy {
    float: left
}
.copy p,
.f-list2 li a {
    font-size: .8125em
}
.copy p {
    color: #87d8eb
}
.fb_reset {
    background: 0 0;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}
.fb_reset>div {
    overflow: hidden
}
.header-top-left h1:first-child:after {
    top: 150%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(76, 177, 202, 0);
    border-top-color: #6b6b6b;
    border-width: 15px;
    margin-left: -15px
}
.pos-relative {
    position: relative
}
.light-border{border:2px solid #ddd; background: #fff}
    
.cart-right,.sale-box,.sale-box span.on_sale,.sub-icon1 ul li h3,.sub-icon1 ul li p,.txt-center,.sidebar-bottom .m_1,.subscribe{text-align:center}

.sidebar-bottom p{text-align:justify}

.sidebar-bottom p.m_text{line-height:1.3em;padding:5px}

.section{padding:0;margin:0}

.btn_form form input[type=submit],.sale-box span.on_sale,.sale-box1 span.on_sale,.span_1_of_f_2 h3,.span_h3,.sub-icon1 ul li h3,button.grey,h2.head,h3.m_1,h2.m_1,h3.m_3,h4.title,h5.m_4 a,span.m_link a,ul.last li a{text-transform:uppercase}

h2.head{font-size:1.2em;color:#fff;margin-bottom:10px;background-color:#0E3C48; padding:5px}

.top-box{margin-bottom:2%}

.slide{border: 0px; box-shadow: none}

.inner_content{padding:10px;position:relative}

.product_image img{display:block;margin: auto}/*border:0px solid #f0f0f0}*/

.sale-box{height:100px;right:-5px;overflow:hidden;position:absolute;top:-5px;width:100px}

.sale-box span.on_sale{background:gray;color:#fff;display:block;left:-9px;font-size:.8em;padding:3px 0;position:relative;top:25px;transform:rotate(45deg);width:140px;z-index:2;border-bottom:2px solid #2892ac}

.price{padding:10px 0 0}p.title{color:#484646;font-size:1.1em}#search-container p.title,.slide p.title{font-size:1em}

.price1{margin-top:10px;font-size:.8em}

span.reducedfrom{text-decoration:line-through;margin-right:8%;color:#555}

span.actual{color:#7db122;font-size:1em}span.discount{float:right;color:red}

.hide,.icon1 ul{visibility:hidden}.slider_bottom{position:absolute;bottom:0;width:100%}

.slider_bottom.hide{position:relative}

.btn,.sale-box1 span.on_sale{position:relative;text-align:center}

.btn a:hover {background: #4cb1ca;color: #fff}

.slider_bottom>div{display:inline-block}

.slider_bottom .btn a{position:relative;top:0;left:0;float:left;padding:8px 50px}

.cart-right,.slider_bottom div:nth-child(2){float:right}

.cart-right{background:url(../../image/cart2.png) -3px -3px #999;border-radius:100px;width:32px;height:32px;cursor:pointer}

.clearout{height:20px}.top-border{border-top:5px solid #6b6b6b}

.sidebar-bottom{background-color:#fff;padding:10px 5px}

h2.m_1{font-size:1.1em;line-height:1.3em;color:#484646;margin-bottom:15px}
h3.m_1{font-size:1.1em;line-height:1.3em;color:#484646;margin-bottom:15px}

.m_text{margin-bottom:20px;color:#484646;font-size:.85em;line-height:1.8em;}

div.k2AccountPage input[type=text],input.inputbox,input.required{background:#fff;border:1px solid #bdbcbc;color:inherit;font-family:inherit;height:27px;padding:0 7px;width:100%;outline:0;box-sizing:border-box;font-size:13px}

.subscribe input[type=submit]{border-radius:5px;font-family:"Exo 2",sans-serif;cursor:pointer;color:#fff;font-size:1em;outline:0;transition:all .3s;background:#7eb123;padding:12px 20px;border:none;margin-top:20px;-webkit-appearance:none}

.subscribe form input[type=text]{font-family:"Exo 2",sans-serif;border:1px solid #ddd;outline:0;background:0 0;font-size:.85em;color:#888;width:87%;padding:6px}

.facebook,p.m_2{font-size:.8125em;color:#fff}.button1,.remember{margin-top:6%}

/*.btn a{border:none;color:rgb(255,255,255);cursor:pointer;padding:12px 20px;display:inline-block;font-size:1em;outline:0px;transition: all 0.3s;background:rgb(76,177,202);position:absolute;top:-90px;left:52px;border-radius:5px;}*/
.btn a{border:1px solid rgba(255,178,109,0.72);border-radius: 10px;color:#555;cursor:pointer;padding:12px 20px;font-size:1em;outline:0;transition:all .3s;background-color:peachpuff;text-shadow:1px 1px 0px rgba(124,172,222,0.77);box-shadow:1px 1px 1px #BEE2F9;position:absolute;top:-90px;left:52px;border-radius:5px}
p.note, p.note a {text-decoration: underline;color:#555}input[name="subscribe"]{width:100%}

/*.top-box p.amazonDeals a {color:#fff;font-size:1.3em; background-color: #338296; border: solid, 1px, #adadad; padding: 7px 10px; border-radius: 5px; font-family: "times new roman",verdana,sans-serif;}*/
.amazonDeals{text-align:right;padding-right:5px}
.amazonDeals a{color:#eeba37}
.amazonBox {padding: 30px 20px;text-align: center;background-color: #eee;}
.amazonBox .title {
    background-color: #eeba37 !important; 
    font-weight: bolder;
    font-size: 1em;
    border-radius: 7px;
    padding: 5px 15px;
}
.amazonBox .summary {
    color: black;
    font-size: 1em;
    margin-top: 30px;
}
.amazonBox .desc{
    color: #007eb9;
    font-size: 20px;
    font-weight: 800;
    margin: 1em 0;
}
.amazonBox .bottom{
    font-style: italic;
    color: gray;
    margin: 1em 0;
}

h2.selected{background-color:#124d5d}
.selected:after {
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);-moz-transform: translateX(-50%);-ms-transform: translateX(-50%);-o-transform: translateX(-50%);transform: translateX(-50%);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border: solid;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #124d5d;
    border-width: 15px;
}
.rsidebar{
    /*border: 2px #ddd solid;*/
    margin-top: 11.5px;
    /*background: white;*/
}
.tab {cursor:pointer}
.flex {display:flex}
.span_1_of_3_width {width:93.6%;margin-top: -15px;padding-top: 25px;}
div[data-tab-content]:first-child,
div[data-tab-content]:nth-child(3) {
    display:none
}
.block {
    background: #FFF;
    border: 1px solid #E1E1E1;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    max-height:500px;
    overflow-y:auto;
}
.block .flex > div:nth-child(2) {padding:0 20px}
.block img {max-height:100%}
.block .date-added {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    margin-bottom: 15px;
}
.block .m_text a{color:cadetblue}
.block .m_text a:hover {text-decoration:underline}
.block .m_text ul {
    list-style: initial;
    list-style-position: inside;
}
.btn2 {
    display:inline-block;
    border: 1px solid rgba(255,178,109,0.72);
    color: #555;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1em;
    transition: all .3s;
    background-color: peachpuff;
    text-shadow: 1px 1px 0px rgba(124,172,222,0.77);
    box-shadow: 1px 1px 1px #BEE2F9;
    border-radius: 5px;
}
.btn2:hover {
    background: #4cb1ca;
    color: #fff;
}
.postedon {display: inline-block;margin-top:9px;position:absolute;bottom:0}
.banner{text-align:center;margin-top:25px;background-color:#eee}.banner p{font-family:Georgia}.banner a{font-size:1.5em}                                                                                              
.readmore{
    background: #FAF9F7;
    margin: 5px 0;
    padding: 5px 10px;
    display:inline-block
}
.recent-posts {
    margin-bottom:20px;
}
.recent-posts > h2 {
    display: inline-block;
    margin:0;
    font-size:1.2em;
}
.recent-posts > p {
    float:right;
}
.recent-posts > div > div {
    max-width:200px;
    display:inline-block;
    position:relative;
    margin-right:15px;
    margin-top: 10px;
}
.recent-posts > div > div > a > p {
    position:absolute;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}
.sliderAmazon .slick-prev, 
.sliderAmazon .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 32px;
    height: 32px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.sliderAmazon .slick-prev {
	left: -20px;
	background: url(../../image/controls.png) no-repeat 0 -32px;
}

.sliderAmazon .slick-next {
	right: -20px;
	background: url(../../image/controls.png) no-repeat -43px -32px;
}
.sliderAmazon .price .title {font-size:.85em}
.latest-offers h2 {
    margin: 15px 0 0 0;
}
.latest-offers > div {
    margin-top: 10px;
}
.latest-offers > div:first-of-type {
    margin-top:0;
}
.latest-offers span.m_link {
    text-decoration: underline
}
.latest-offers a {
    font-size: 0.8em;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: cadetblue;
}
.latest-offers img {
    display:block;
    max-height:80px;
    margin: 0 auto 10px auto;
}.cont {
    float: left;
    margin: 1% 0
}
.col_1_of_3 {
    float: left;
    margin: 1% 0 1% 2.6%;
    box-shadow: #aaa 0 0 5px
}
.collection .span_1_of_3,
.collection .span_2_of_3 {
    display: inline-block
}
.collection .col_1_of_3,
.offers .col_1_of_3 {
    position: relative;
    margin: 1% 2.1% 1% 0
}
.col_1_of_3:first-child {
    margin-left: 0
}
.cart-left {
    width: 73.5%;
    float: left;
    margin-right: 2.6%
}
.row1 {
    outline: 0;
    padding: 20px;
    overflow: auto;
    height: 200px;
    box-sizing: border-box
}
.sky-form {
    margin-bottom: 20px
}
.sky-form h4 {
    color: #555;
    font-size: 1.1em;
    padding: 6px 10px;
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    text-transform: uppercase
}
.sky-form .button,
.sky-form .checkbox,
.sky-form .input,
.sky-form .radio,
.sky-form .select,
.sky-form .textarea,
.sky-form .toggle {
    position: relative;
    display: block
}
.sky-form .checkbox,
.sky-form .radio {
    outline: 0;
    border: none;
    margin-bottom: 4px;
    padding-left: 27px;
    font-size: 13px;
    line-height: 27px;
    color: #555;
    cursor: pointer;
    text-transform: capitalize
}
.sky-form .checkbox:last-child,
.sky-form .radio:last-child {
    margin-bottom: 0
}
.sky-form .checkbox input,
.sky-form .radio input {
    position: absolute;
    left: -9999px
}
.sky-form .checkbox i,
.sky-form .radio i {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    width: 13px;
    height: 13px;
    outline: 0;
    border-width: 2px;
    border-style: solid;
    background: #fff
}
.sky-form .checkbox i {
    border-color: #e5e5e5
}
.sky-form .checkbox input:checked+i {
    background-image: url(../../image/b-arrow.png);
    background-position: center center;
    text-align: center
}
.sky-form .checkbox input:checked+i,
.sky-form .radio input:checked+i,
.sky-form .toggle input:checked+i {
    border-color: #2da5da
}