@media (max-width:1280px) {.span_1_of_f_2 {width: 100%}}
@media (max-width:768px){
    .span_1_of_f_1,.span_1_of_f_left,.span_1_of_f_right {
		width: 100%;
	}
    .header-top-left h1 {
        font-size:15px;
    }
    .visible-xs {
        display: block;
      }
	.wrap{
		width:95%;
	}
	#products .pagination li a {
		width:89px;
	}
	.header-bottom-right {
		width: 100%;
		float: none;
		margin-top: 10px;
	}
	.to input[type="text"] {
		width:45.2%;
	}
	.logo {
		margin-right:0;
		float:none;
		text-align: center;
	}
	.menu {
		float: none;
		margin-top: 6px;
	}
    #menu-container{
        background-color:#fff
    }
    #site-wrapper{top:0}
	.header-bottom-left {
		width: 100%;
		float: none;
	}
	.search {
		margin: 5px 10px 0 0;
        width:initial;
	}
	ul.last {
		margin: 12px 0px 0 10px;
	}
	h2.head {
		font-size:1.5em;
	}
	.btn a {
		left: 12px;
		padding: 6px 8px;
		top: -75px;
		font-size: 0.85em;
	}
	p.title a {
		font-size: 1em;
	}
	h2.m_1 {
		font-size: 1em;
	}
	ul.f-list span.f-text {
		font-size: 0.95em;
		margin-top: 29px;
	}
	.span_1_of_4 {
		width:100%;
	}
	.col_1_of_4 {
		float:none;
		margin: 1% 0 1% 0%;
	}
	.icon1 ul {
		top: 64px;
	}
	span.rollover {
		height: 148px;
		width: 173px;
	}
	.text input[type="text"], .text textarea {
		width: 95.7%;
	}
	.cssmenu {
		margin-top:0px;
		text-align: center;
	}
	.cart-left {
		width: 70.5%;
	}
	span.reducedfrom {
		margin-right: 2%;
	}
	.header-top-left {
		width: 100%;
		float: none;
	}
	.box {
		float: left;
		width: 65.5%;
		margin-right: 10.6%;
	}
	.box1 {
		float: left;
		width: 20.5%;
	}
	.span_2_of_3 {
		width: 100%;
	}
	.cont {
		float: none;
	}
	.span_1_of_left {
		width:45%;
	}
	.rsidebar {
        clear:both;
		float: none;
		margin: 2.7% 0 1% 0;
	}
	.border {
		margin-bottom: 10%;
	}
	.span_1_of_2 {
		width: 100%;
	}
	.col_1_of_2 {
		float:none;
		margin:0;
	}
	.copy {
		float: none;
		margin-bottom:10px;
	}	
	.f-list2 {
		float: none;
	}
	.footer-bottom {
		text-align: center;
	}
	.rsingle {
		float: none;
		margin: 0% 0 1% 0%;
	}
	.span_1_of_single {
		width: 100%;
	}
	.mens-toolbar .sort {
		width: 26.5%;
	}
	.mens-toolbar .pager {
		width: 41.5%;
	}
	.span_1_of_about {
		width: 100%;
	}
	.labout {
		float: none;
		margin: 1% 0 1% 0;
	}
	.span_2_of_about {
		width: 100%;
	}
	.span_1_of_login {
		width: 100%;
	}	
	.col_1_of_login {
		float: none;
		margin: 1% 0 1% 0%;
	}
	.icon1 ul {
		right: -119px;
	}
	.nbs-flexisel-item > img {
		width: 90%;
	}
	.footer-top {
		padding: 1em 0;
	}
    .offers .col_1_of_3 {
        padding:20px;
        overflow:hidden;
    }
    .offers .span_3_of_2 {
        width:100%;
    }
}